.mobilenav {
	position: fixed;
	left: vc(-376);
	top: vc(58);
	z-index: 9;
	overflow: hidden;
	width: 100%;
	height: calc(100vh - #{vc(118)});
	background: $color-white;
	transition: left $transition;

	&__wrapper {
		display: flex;
		flex-direction: column;
		overflow: auto;
		padding-bottom: vc(40);
		width: 100%;
		height: 100%;
	}

	&__row {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: vc(4);
	}

	&__title {
		margin-bottom: vc(15);
		font-weight: 500;
		font-size: vc(18);
		line-height: 1;
		color: $color-woodsmoke-950;
	}

	&__item {
		display: flex;
		flex-direction: column;
		padding: vc(16);
	}

	&__col {
		display: flex;
		flex-direction: column;
		gap: vc(6);

		a {
			font-size: vc(15);
		}

		a.mobilenav__contact {
			display: flex;
			flex-direction: column;
			margin-bottom: vc(6);
			font-weight: 400;
			font-size: vc(16);

			small {
				font-size: vc(12);
				color: $color-woodsmoke-300;
			}
		}
	}

	&__socials {
		display: flex;
		align-self: center;
		gap: vc(30);

		a {
			border-radius: 100%;
			padding: vc(6);
			width: vc(30);
			height: vc(30);
			background: $color-woodsmoke-950;

			svg {
				fill: $color-white;
			}
		}
	}

	&.active {
		left: 0;
	}

	@include desktop {
		display: none;
	}
}
