.page-text {
	h1,
	h2,
	h3,
	p {
		margin-bottom: vc(10);
	}

	p + h3,
	p + h2 {
		margin-top: vc(30);
	}

	ul,
	ol {
		margin-bottom: vc(10);
		margin-left: vc(34);

		li {
			display: list-item;
		}
	}

	ul li {
		list-style: disc;
	}

	ol li {
		list-style: decimal;
	}
}
