.reviews {
	.swiper {
		margin: 0 vc(-15);
		padding: vc(16) 0 vc(40);
		width: calc(100% + #{vc(30)});

		&-slide {
			display: flex;
			align-items: center;
			justify-content: center;
			height: auto;
		}

		&-pagination {
			bottom: vc(3);
		}

		@include devices {
			margin: 0;
			width: 100%;
		}
	}

	.review {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 vc(15);
		border-radius: vc(10);
		padding: vc(20) vc(15);
		width: 100%;
		height: 100%;
		box-shadow: $box-shadow;
		background: $color-white;
		gap: vc(15);

		&__head {
			display: grid;
			grid-template-columns: vc(70) 1fr;
			width: 100%;
			gap: vc(20);
		}

		&__avatar {
			overflow: hidden;
			border-radius: 100%;
			width: vc(70);
			height: vc(70);
		}

		&__info {
			display: flex;
			flex-direction: column;
			gap: vc(8);
		}

		&__star {
			width: vc(22);
			height: vc(22);
		}

		&__rating {
			display: grid;
			grid-template-columns: repeat(5, vc(22));

			svg {
				fill: $color-tree-poppy-400;
			}
		}

		&__name {
			font-weight: 500;
			font-size: vc(20);
			line-height: 1;
		}

		&__date {
			font-size: vc(14);
			line-height: 1;
			color: $color-woodsmoke-300;
		}

		&__message {
			font-size: vc(18);
			line-height: vc(20);
		}
	}
}
