.search {
	position: fixed;
	z-index: 13;
	margin: vc(52) 48% 0;
	padding: vc(15) 0;
	width: vc(850);
	transform: translateX(-52%);
	transition: visibility $transition, opacity $transition;

	.row {
		position: relative;
		width: 100%;
	}

	&__bg {
		position: absolute;
		display: none;
		background: rgba($color-black, 0.7);
		inset: 0;

		@include devices {
			display: block;
		}
	}

	label {
		position: relative;
		display: flex;
		align-items: center;
		border: 1px solid $color-woodsmoke-300;
		border-radius: vc(5);
		padding: vc(14) vc(20);
		background: $color-white;

		input {
			width: 100%;
		}

		button {
			position: absolute;
			right: vc(20);
			width: vc(24);
			height: vc(24);

			svg {
				fill: $color-tree-poppy-400;
			}
		}
	}

	&__results {
		position: relative;
		top: 0;
		overflow: hidden;
		border: 1px solid $color-woodsmoke-300;
		border-radius: vc(5);
		width: 100%;
		height: fit-content;
		max-height: 60vh;
		box-shadow: $box-shadow;
		background: $color-white;
		opacity: 0;
		visibility: hidden;
		transition: visibility $transition, opacity $transition;

		&.active {
			opacity: 1;
			visibility: visible;
		}

		@include devices {
			top: vc(45);
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		overflow: auto;
		width: 100%;
		height: 100%;
	}

	&__link {
		display: flex;
		align-items: center;
		border-bottom: 1px solid $color-woodsmoke-300;
		padding: vc(10);
		width: 100%;
		background: $color-white;
		transition: background $transition;
		gap: vc(15);

		picture {
			width: vc(50);
			height: vc(50);

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		&:last-child {
			border: none;
		}

		@include hover {
			background: $color-tree-poppy-400;
		}
	}

	&.active {
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 1;
		visibility: visible;
	}

	@include devices {
		margin: 0;
		padding: vc(30) vc(15) 0 vc(15);
		opacity: 0;
		visibility: hidden;
		transform: translateX(0);
	}
}
