.commodity {
	&__head {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		@include desktop {
			grid-column: span 2 / span 1;
		}

		@include devices {
			order: 1;
			margin-top: vc(20);
		}
	}

	&__title {
		position: relative;
		width: 100%;
	}

	&__availability {
		position: absolute;
		left: 0;
		top: 0;
		display: flex;
		align-items: center;
		gap: vc(6);

		span {
			flex-shrink: 0;
			border: vc(3) solid rgba($color-white, 0.5);
			border-radius: 100%;
			width: vc(14);
			height: vc(14);
			background: $color-black;
		}

		p {
			font-weight: 400;
			font-size: vc(18);
			line-height: 1.2;

			@include devices {
				font-size: vc(14);
			}
		}

		&--green {
			span {
				background: $atlantis-400;
			}
		}

		&--orange {
			span {
				background: $color-tree-poppy-500;
			}
		}

		&--red {
			span {
				background: $red-orange-500;
			}
		}

		@include devices {
			position: absolute;
			left: 0;
			top: vc(-20);
		}
	}

	&__main {
		position: relative;
		display: grid;
		grid-template-columns: vc(656) 1fr;
		gap: vc(30);

		@include devices {
			grid-template-columns: 100%;
			gap: vc(15);
		}
	}

	&__features {
		position: absolute;
		left: vc(10);
		top: vc(10);
		z-index: 2;
		display: flex;
		width: vc(636);
		gap: vc(10);

		@include devices {
			flex-wrap: wrap;
			width: auto;
			max-width: vc(330);
		}
	}

	&__gallery {
		position: relative;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		border: 1px solid $color-woodsmoke-200;
		border-radius: vc(5);
		height: vc(582);

		picture {
			overflow: hidden;
			padding: vc(5);
			height: 100%;

			img {
				height: 100%;
				object-fit: contain;
			}
		}

		&-main {
			border-bottom: 1px solid $color-woodsmoke-200;
			height: vc(472);

			.swiper {
				height: 100%;
			}

			@include devices {
				height: vc(296);
			}
		}

		&-thumb {
			width: calc(100% + #{vc(15)});
			height: vc(110);

			.swiper {
				height: 100%;
			}

			.swiper-slide {
				position: relative;
				padding-right: vc(15);
				opacity: 0.7;
				transition: opacity $transition;

				&::before {
					content: "";
					position: absolute;
					bottom: vc(1);
					z-index: 2;
					border-radius: vc(3);
					width: calc(100% - #{vc(15)});
					height: vc(3);
					background: transparent;
					transition: background $transition;
				}
			}

			.swiper-slide-thumb-active {
				opacity: 1;

				&::before {
					background: $color-tree-poppy-400;
				}
			}

			@include devices {
				height: vc(74);
			}
		}

		@include devices {
			order: 0;
			height: vc(372);
		}
	}

	&__info {
		position: relative;
		display: grid;
		grid-template-areas:
			"info price"
			"description description";
		grid-template-columns: vc(500) 1fr;
		gap: vc(0) vc(30);

		&-box {
			grid-area: info;
		}

		@include devices {
			order: 2;
			grid-template-areas:
				"price"
				"info"
				"description";
			grid-template-columns: 100%;
			gap: vc(15);
		}
	}

	&__hero {
		picture {
			overflow: hidden;
			border-radius: vc(5);
		}
	}

	&__specifications {
		display: flex;
		flex-direction: column;
		margin-top: vc(24);

		button {
			margin-top: vc(20);
			font-weight: 400;
			font-size: vc(14);
			text-align: right;
			text-decoration: underline;
			color: $color-tree-poppy-400;
			transition: color $transition;

			@include hover {
				color: $color-black;
			}
		}
	}

	&__specification {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px dashed $color-black;
		padding: vc(6) 0;
		font-weight: 400;
		font-size: vc(14);

		span {
			color: $color-woodsmoke-600;

			&:last-child {
				text-align: right;
			}
		}

		&:last-child {
			border: none;
		}
	}

	&__basket {
		display: grid;
		grid-area: price;
		grid-auto-rows: min-content;
		grid-template-columns: repeat(2, 1fr);
		border-radius: vc(5);
		padding: vc(20);
		height: min-content;
		box-shadow: $box-shadow;
		gap: vc(15);

		@include devices {
			padding: vc(15);
		}
	}

	&__price {
		span {
			font-size: vc(16);
			color: $color-woodsmoke-400;
		}

		p {
			font-weight: 700;
			font-size: vc(30);
			color: $color-tree-poppy-400;
		}

		a {
			color: $color-tree-poppy-400;
		}

		&.two {
			grid-column: span 2 / span 1;
		}
	}

	&__query {
		grid-column: span 2 / span 1;
		font-size: vc(14);
		line-height: vc(14);
		color: $red-orange-500;
	}

	&__input {
		input {
			border: 1px solid $color-woodsmoke-200;
			border-radius: vc(5);
			padding: vc(20);
			height: 100%;
			font-size: vc(16);
		}
	}

	&__count {
		display: flex;
		border: 1px solid $color-woodsmoke-200;

		input {
			border-right: 1px solid $color-woodsmoke-200;
			border-left: 1px solid $color-woodsmoke-200;
			width: vc(80);
			text-align: center;

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				appearance: none;
			}
		}

		button {
			width: vc(35);
		}
	}

	&__description {
		display: flex;
		flex-direction: column;
		grid-area: description;
		gap: vc(16);

		h5 {
			font-weight: 400;
			font-size: vc(18);
		}

		p {
			font-size: vc(16);

			a {
				color: $color-tree-poppy-400;
			}
		}

		picture {
			margin-top: auto;
		}
	}

	&-specification {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding: vc(60);
		gap: 0 vc(20);

		.commodity__specification:last-child {
			border-bottom: 1px dashed $color-black;
		}

		@include devices {
			grid-template-columns: 100%;
			padding: vc(40);
		}
	}
}
